.Dropdown {
  display: inline-block;
}

.Dropdown dd,
.Dropdown dt,
.Dropdown ul {
  margin: 0;
  padding: 0;
}

.Dropdown dd {
  width: 100%;
}

.Dropdown dd {
  position: relative;
}

.Dropdown dt div {
  background: #e4dfcb url(../../../assets/arrow.png) no-repeat scroll right center;
  display: inline-block; 
  padding-right: 20px; 
  border: 1px solid #d4ca9a;
  font-size: 1rem;
}

.Dropdown dt a span {
  cursor: pointer; 
  display: block; 
  padding: 5px;
}

.Dropdown dd ul { 
  background: #e4dfcb none repeat scroll 0 0;
  list-style: none; 
  padding: 5px 0px; 
  position: absolute; 
  left: 0px; 
  top: 2px; 
  width: auto; 
  min-width: 170px;
}

.Dropdown span.value { 
  display: none;
}

.Dropdown dd ul li > * { 
  padding: 5px; 
  display: block;
}
