@import "../../../static/styles/variables";

.word-card-wrapper {
  position: relative;
  display: inline-block;
}

.word-card-container {
  position: relative;
  z-index: 10;
  border: $standard-border;
  background-color: white;
  width: 22rem;
  height: 500px;
  overflow: scroll;
  /* grid-area: card; */
  grid-column: 2 / span 1;
  justify-self: left;
  overflow: scroll;
  border-radius: 3px;
}

.word-card {
  padding: 4px;
  display: flex;
  flex-flow: column;
}

.word {
  font-weight: 700;
  margin: 4px;
  padding: 2px;
}

.transcriptions {
  margin: 4px;
  height: 22px;
  display: flex;
  align-items: center;
}

.plus-button-wrapper {
  margin: 4px;
  border-top: 1px solid #a39f9f;
}
