@import "../../../static/styles/variables";

.WordCardWrapper {
  position: relative;
  display: inline-block;
}

.WordCardContainer {
  position: relative;
  z-index: 10;
  border: $standard-border;
  border-radius: $standard-border-radius;
  background-color: white;
  width: 22rem;
  height: 500px;
  overflow: scroll;
  /* grid-area: card; */
  grid-column: 2 / span 1;
  justify-self: left;
  overflow: scroll;
  border-radius: 3px;
}

.WordCard {
  padding: 4px;
  display: flex;
  flex-flow: column;
}

.PlusButtonWrapper {
  margin: 4px;
  border-top: 1px solid #a39f9f;
}
