@import "../../../static/styles/variables";
@import "../../../static/styles/classes";

.ArrowButton {
  padding: 0;
  cursor: pointer;
}

.Arrow {
  width: 32px;
  height: 32px;
  padding: 0;
  position: relative;
  transition: $standard-animation-time;

  &::before {
    @include stroke();
    top: 15%;
    left: 50%;
    transform: rotateZ(-60deg);
  }

  &::after {
    @include stroke();
    top: 38%;
    left: 50%;
    transform: rotateZ(60deg);
  }
}

.Open {
  transform: rotateZ(180deg)
}
