@import "../../../static/styles/variables";

@mixin stroke() {
  position: absolute;
  content: "";
  height: 42%;
  border: 1px solid black;
}

.arrow-button {
  padding: 0;
  cursor: pointer;
}

.arrow {
  width: 32px;
  height: 32px;
  padding: 0;
  position: relative;
  transition: $standard-animation-time;

  &::before {
    @include stroke();
    top: 15%;
    left: 50%;
    transform: rotateZ(-60deg);
  }

  &::after {
    @include stroke();
    top: 38%;
    left: 50%;
    transform: rotateZ(60deg);
  }
}

.open {
  transform: rotateZ(180deg)
}
