@import '../../../static/styles/classes';

.MinusButton {
  margin: 4px;
  padding: 0;
  background-color: #ccc;
  cursor: pointer;
  position: relative;
  // width: 20px;
  // height: 20px;
  border-radius: 50%;

  &::before {
    @include stroke();
    transform: rotateZ(90deg);
    top: 26%;
  }

  &:hover,
  &:active {
    background-color: rgba(204, 204, 204, 0.783);
  }

  &:focus {
    outline: none;
  }
}

.large {
  @include largeButton();
}

.small {
  @include smallButton();
}