.SemanticBlock {
  position: relative;
  margin: 4px;
  border-top: 1px solid white;
}

.BlockNumber {
  font-weight: 700;
}

.PartOfSpeechBlockList {
  list-style: none;
  counter-reset: p-of-s-block-counter;
  padding-left: 0;

  li {
    counter-increment: p-of-s-block-counter;
    margin-top: 4px;

    &::before {
      content: counter(p-of-s-block-counter) ". ";
      font-weight: bold;
    }
  }
} 

.active {
  border-top-color: #a39f9f;
}

button.MinusButton {
  position: absolute;
  margin: 1;
  right: 0;
  top: 0;
}
