.SemanticBlock {
  margin: 4px;
}

.BlockNumber {
  font-weight: 700;
}

.PartOfSpeechBlockList {
  list-style: none;
  counter-reset: p-of-s-block-counter;
  padding-left: 0;
}

.PartOfSpeechBlockList li {
  counter-increment: p-of-s-block-counter;
  margin-top: 4px;
}

.PartOfSpeechBlockList li::before {
  content: counter(p-of-s-block-counter) ". ";
  font-weight: bold;
}
