@import "./variables";

@mixin remark() {
  color: map-get($colors, remark);
  font-style: italic;
}

@mixin stroke() {
  position: absolute;
  content: "";
  height: 42%;
  border: 1px solid black;
}
