@import "./variables";

@mixin remark() {
  color: map-get($colors, remark);
  font-style: italic;
}

@mixin stroke() {
  position: absolute;
  content: "";
  height: 42%;
  border: 1px solid black;
}

@mixin square($size) {
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
}

@mixin largeButton {
  width: map-get($sizes, large);
  height: map-get($sizes, large);
}

@mixin smallButton {
  width: map-get($sizes, small);
  height: map-get($sizes, small);
}

@mixin mediumButton {
  
}
