@import "../../../../static/styles/variables";

.PartOfSpeechWrapper {
  position: relative;
  border-bottom: 1px dashed white;
  padding-bottom: 4px;
}

.EditMode {
  border-bottom-color: black;
}

.PartOfSpeech {
  color: map-get($colors, remark);
}

.Gender {
  color: map-get($colors, remarl);
  font-style: italic;
}

.MeaningWrapper {
  list-style: none;
  counter-reset: meanings-counter;
  padding-left: 18px;

  li {
    counter-increment: meanings-counter;

    &::before {
      content: counter(meanings-counter) ") ";
      font-weight: normal;
    }
  }
}

button.MinusButton {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 0;
}

button.PlusButton {
  margin: 0;
}

.MeaningEntry {
  position: relative;
}

.PartOfSpeechEdit {
  position: absolute;
  margin: 0;
  top: -4px;
  right: 20px;
  display: flex;
}
