.RoundButton {
  margin: 4px;
  padding: 0;
  background-color: #ccc;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &:hover,
  &:active {
    background-color: rgba(204, 204, 204, 0.783);
  }

  &:focus {
    outline: none;
  }
}
