@import "../../../../../static/styles/variables";

.PartOfSpeech {
  color: map-get($colors, remark);
}

.MeaningWrapper {
  list-style: none;
  counter-reset: meanings-counter;
  padding-left: 18px;
}

.MeaningWrapper li {
  counter-increment: meanings-counter;
}

.MeaningWrapper li::before {
  content: counter(meanings-counter) ") ";
  font-weight: normal;
}
