@import "../../../static//styles/variables";

.DictionaryListWrapper {
  position: relative;
  display: inline-block;
  grid-area: list;
  justify-self: right;
}

.DictionaryListContainer {
  border: $standard-border;
  border-radius: $standard-border-radius;
  background-color: white;
  position: relative;
  z-index: 10;
  width: 200px;
  height: 500px;
  overflow: scroll;
  
}

.DictionaryList {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}