$initial-cursor-opacity: 0.75;

.Interceptor {
  position: absolute;
  z-index: -100;
  top: -100;
  left: -100;
  opacity: 0;
}

.Active {
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px 0 rgba(#202124, 0.28);
}

.ActiveCursor {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    border: 1px solid black;
    opacity: $initial-cursor-opacity;
    animation: flash 0.4s infinite alternate none;
  }
}

@keyframes flash {
  0% {
    opacity: $initial-cursor-opacity;
  }
  10% {
    opacity: $initial-cursor-opacity;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}