.LanguageIcon {
  display: inline-block;
  border-style: solid;
  font-family: monospace;
  font-weight: 700;
}

.Medium {
  border-width: 0.125rem;
  padding: 0.125rem;
  margin: 0 0.3rem;
  font-size: 1rem;
}