@import "../../../static/styles/variables";

.CardControlWrapper {
  display: flex;
  align-items: flex-start;
  transition: $standard-animation-time;
}

.ButtonAtLeft {
  flex-flow: row-reverse;
}

.CardControl {
  background-color: white;
  border: $standard-border;
  border-radius: $standard-border-radius;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.CardControlEntry {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > * {
    margin: 4px;
  }
}

.OpenToRight {
  transform: translateX(75%);
}

.OpenToLeft {
  transform: translateX(-74%);
}

.ArrowButtonAtLeft {
  transform: rotateZ(180deg);
}